In [1]:
import pandas as pd
from utils import load_filtered_data

In [2]:
city = 'Dublin'
name = 'friends'

# load city data
data = load_filtered_data(city)

In [3]:
# creating the nodes

nodes = data['user'].drop(columns=['friends'])
nodes = nodes.rename(columns={'user_id': 'id', 'name': 'people_name'})

nodes

,id,people_name,review_count,yelping_since,useful,funny,cool,elite,fans,average_stars,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,_BcWyKQL16ndpBdggh2kNA,Karen,4274,2008-05-29 12:29:54,16950,5203,9759,"2008,2009,2010,2011,2012,2013,2014,2015,2016,2...",558,3.69,...,59,42,15,35,262,498,394,394,191,36
1,8MKygqfspKqG2-X9ycR-Ow,Hunter,189,2008-01-02 03:56:16,672,266,384,"2010,2011",15,3.68,...,9,4,0,2,40,66,38,38,24,3
2,LiiUu5TS7Bjjoq9xd8tKEQ,Brian,458,2008-05-29 20:40:30,1050,177,552,"2010,2011",27,3.87,...,4,3,1,0,11,16,14,14,19,7
3,JvljCKbnjcDFrWkrqQUdEQ,Frank,166,2009-02-02 22:14:48,292,80,155,"2009,2010,2012,2013,2014,2015",10,3.49,...,3,2,0,0,12,5,18,18,7,0
4,gfWTee4CnQF-shBgAsvI9g,Pooh,148,2007-03-28 19:00:35,549,590,357,NaN,29,3.30,...,11,9,4,4,38,91,67,67,35,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,vCrD8e4rYHPhN9sHcPQ4Sg,Philip,2,2017-12-02 11:57:51,3,0,0,NaN,0,1.50,...,0,0,0,0,0,0,0,0,0,0
438,E8ko3g18liOHvKTLduj7cQ,Sara,2,2019-10-26 03:32:19,6,0,0,NaN,0,3.00,...,0,0,0,0,0,0,0,0,0,0
439,dto2XaLTUIQ-PW5_OJAkcg,Patti,1,2022-01-07 13:20:27,0,0,0,NaN,0,5.00,...,0,0,0,0,0,0,0,0,0,0
440,CLzR5PlV25MEzOL-lqp5Ow,Wayne,4,2018-09-06 14:59:45,1,1,0,NaN,0,3.00,...,0,0,0,0,1,0,0,0,0,0
441,SkHrxUJB5zx_2ATwVHpfXg,Sandy,3,2014-03-16 15:55:58,1,0,0,NaN,0,3.33,...,0,0,0,0,0,0,0,0,0,0

In [4]:
user_ids_set = set(data['user']['user_id'])
temp_edges_struct = {'from': [], 'to': [], 'weight': [], 'type': []}

for index, row in data['user'].iterrows():
    user_id = row['user_id']
    friends = row['friends']
    if pd.notnull(friends):
        friend_list = friends.split(', ')
        for friend in friend_list:
            friendship_pair = tuple(sorted([user_id, friend]))
            if friendship_pair[0] in user_ids_set and friendship_pair[1] in user_ids_set:
                temp_edges_struct['from'].append(friendship_pair[0])
                temp_edges_struct['to'].append(friendship_pair[1])
                temp_edges_struct['weight'].append(1)
                temp_edges_struct['type'].append('friendship')

edges = pd.DataFrame(temp_edges_struct)
edges = edges.drop_duplicates()

edges

                      from                      to  weight        type
0   LiiUu5TS7Bjjoq9xd8tKEQ  _BcWyKQL16ndpBdggh2kNA       1  friendship
1   _BcWyKQL16ndpBdggh2kNA  paCWvJDzJdFDfPMLAUbZlw       1  friendship
2   _BcWyKQL16ndpBdggh2kNA  h3KYuVHhr59Q-UFloqhLHg       1  friendship
3   SmXK0xM_yCX67zxOxCNp6Q  _BcWyKQL16ndpBdggh2kNA       1  friendship
4   JvljCKbnjcDFrWkrqQUdEQ  _BcWyKQL16ndpBdggh2kNA       1  friendship
5   8MKygqfspKqG2-X9ycR-Ow  _BcWyKQL16ndpBdggh2kNA       1  friendship
6   -G7Zkl1wIWBBmD0KRy_sCw  _BcWyKQL16ndpBdggh2kNA       1  friendship
7   EuU4rgWWkIDc-hKd7-XaKw  _BcWyKQL16ndpBdggh2kNA       1  friendship
8   V1rial53zLecglzJl9cIMA  _BcWyKQL16ndpBdggh2kNA       1  friendship
9   _BcWyKQL16ndpBdggh2kNA  q3lPWLreF9PLh8lLlWgwDg       1  friendship
10  _BcWyKQL16ndpBdggh2kNA  wgiVsn5ZtsxULQb2K2gioA       1  friendship
11  _BcWyKQL16ndpBdggh2kNA  xgjhHk82pMGIEp4Q9WTHqg       1  friendship
12  P4iywYHwhZuersWm5moVuw  _BcWyKQL16ndpBdggh2kNA       1  friendship
13  X7zm8FuL1iDfIbfFK9WFBg  _BcWyKQL16ndpBdggh2kNA       1  friendship
14  _BcWyKQL16ndpBdggh2kNA  c9kbgFM9uxrQn5p_AdGfgg       1  friendship
16  8MKygqfspKqG2-X9ycR-Ow  ptszYqvULb9AT04VfKaXfg       1  friendship
18  -G7Zkl1wIWBBmD0KRy_sCw  LiiUu5TS7Bjjoq9xd8tKEQ       1  friendship
22  -G7Zkl1wIWBBmD0KRy_sCw  h3KYuVHhr59Q-UFloqhLHg       1  friendship
23  V1rial53zLecglzJl9cIMA  h3KYuVHhr59Q-UFloqhLHg       1  friendship
24  LYbV_fjPzbRs6ePlomPXcQ  fsetDNZ98600G2c57dH8Iw       1  friendship
26  V1rial53zLecglzJl9cIMA  ptszYqvULb9AT04VfKaXfg       1  friendship
27  LNEyUWtTpvvMhp9KssJPIg  gvkiCtqDBpGEz_76sNUgQg       1  friendship
28  V1rial53zLecglzJl9cIMA  h_WJ9jf22thDw10b1KL-cg       1  friendship
31  -G7Zkl1wIWBBmD0KRy_sCw  V1rial53zLecglzJl9cIMA       1  friendship
40  -G7Zkl1wIWBBmD0KRy_sCw  xgjhHk82pMGIEp4Q9WTHqg       1  friendship
42  -G7Zkl1wIWBBmD0KRy_sCw  vUie5j2dKqROjhhWvRIu4Q       1  friendship
43  QLPylO8wa5C4XeY4LhGUuw  lmQz2SutpT697wbZHHXaAg       1  friendship
44  QLPylO8wa5C4XeY4LhGUuw  _rLQ_O6F3x22ma0kJQyajg       1  friendship
49  QIlOPJBsn5JDyMW1hrH6GA  tgnaLD_aIOeV_DOhchWBoA       1  friendship
52  _rLQ_O6F3x22ma0kJQyajg  lmQz2SutpT697wbZHHXaAg       1  friendship
55  LRxi-2lQxuFUnUQ_8-YWkQ  fpLDYV0GdGEgu-CNeGUIIw       1  friendship
56  B5bHqJfM3fG3HA0NHXj_xw  D3yO7quQ-POhFY-2l6Ol-g       1  friendship
57  IK_DwNxedVYqA_jjjZj05w  r4F17hOtCpOJHMfv13n-2Q       1  friendship
59  554bDWDey46hewu-dwB1Pg  ssinwYBJs2mtM6fQq0bj-g       1  friendship
64  IgjVcOVWtniIEB1gRzUKsQ  hjx_XSEjpR7nPUWOaVoEWg       1  friendship

In [5]:
# save data
nodes.to_csv(f'nodes_and_edges/{city}_{name}_nodes.csv', index=False)
edges.to_csv(f'nodes_and_edges/{city}_{name}_edges.csv', index=False)