In [1]:
import pandas as pd

# Load city data
city = 'Jennings'
name = 'users&bgt'

from load_filtered_data import load_filtered_data
data = load_filtered_data(city)

In [2]:
# Creating the nodes
nodes = data['user']

# rename user_id column to id
# rename name (column name that cant be used because of igraph) to people_name
nodes = nodes.rename(columns={'user_id': 'id', 'name': 'people_name'})

nodes

,id,people_name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,mKBl4fAqTfNts7B78aOPVg,Dave,752,2009-10-11 04:00:50,2805,1049,1770,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","TrL_9PA5LSDXgCYU8I7NCg, vnl8aTXiLC08mVtG5Tu_xw...",76,...,20,6,2,12,202,891,557,557,74,70
1,bnVzSHI48lEHPaEzZNIqJg,Amanda,650,2007-06-08 14:30:04,1555,559,553,NaN,"bLMK23tIpDBdm0WMhzUfUQ, NnZk_-qFBOkUJA-pNoR9Jg...",39,...,7,4,0,2,36,28,34,34,13,1
2,5AfZjChiQ3xMJDtSgwIyWA,Jonathan,48,2008-09-11 13:32:54,161,129,88,2010,"FmJ3Qy_fIij5wxzrlSQDOA, Amc7J0F3KeAKzOOQrlpqog...",6,...,6,1,0,0,11,8,17,17,13,0
3,mIhyBkwPmOBymkDN_zZzxw,Todd,163,2016-02-20 19:43:32,74,32,16,NaN,"Av_k60Uf4dwaqsBiEmoMbQ, 0jwiMk_NmYdzbUIx3sF3hA...",6,...,1,0,0,0,4,2,4,4,2,1
4,HR5TCqAjP9rlM_n_BA0JfA,Kay,223,2014-10-20 04:32:42,4301,2760,3766,"2015,2016,2017,2018","pSUp9rQHnNHzzYHMMd_mVQ, yH3Jyu5vRTAJ8uMAD2bLGQ...",125,...,111,47,38,21,404,2596,1766,1766,227,546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,HnziyG9F5PxAscAgrbaqOA,Brad,1,2011-11-21 23:02:46,0,0,0,NaN,Lk9zVh50uwMXCPP9WLCtRQ,0,...,0,0,0,0,0,0,0,0,0,0
63,e15MFHa46RwR4J7hQFNeQQ,Jeff,3,2010-09-02 20:54:39,0,0,0,NaN,None,0,...,1,0,0,0,0,0,0,0,0,0
64,RQTultuEFCaxLmCbsE6IPQ,Phelesa,3,2018-12-22 14:22:57,1,0,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0
65,-30fJcjN-e653dEhZjDbfw,Krista,1,2020-08-15 01:15:28,0,1,0,NaN,None,0,...,0,0,0,0,0,0,0,0,0,0
66,zn-LZYcMOarOsaV0iDSbpQ,LaDonna,1,2013-02-08 17:10:27,1,0,1,NaN,JaJ-szukRhsDy0TBMuqR1A,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Creating the edges

temp_edges_struct = {'from': [], 'to': [], 'weight': [], 'type': []}

for business in data['review']['business_id'].unique():
    reviews_of_business = data['review'][data['review']['business_id'] == business]
    users_that_reviewed_business = reviews_of_business['user_id'].unique()
    for i in range(len(users_that_reviewed_business)-1):
        for j in range(i+1, len(users_that_reviewed_business)):
            # from i to j
            temp_edges_struct['from'].append(users_that_reviewed_business[i])
            temp_edges_struct['to'].append(users_that_reviewed_business[j])
            temp_edges_struct['weight'].append(1)
            temp_edges_struct['type'].append('reviewed-same-restaurant')
            # from j to i
            temp_edges_struct['from'].append(users_that_reviewed_business[j])
            temp_edges_struct['to'].append(users_that_reviewed_business[i])
            temp_edges_struct['weight'].append(1)
            temp_edges_struct['type'].append('reviewed-same-restaurant')

edges = pd.DataFrame(temp_edges_struct)

# remove repeated lines
edges = edges.drop_duplicates()

edges

,from,to,weight,type
0,MrScyzfSsozlJ0cBt4mqhQ,SAyc6gRZ9zxsyTBWrE_Nkw,1,reviewed-same-restaurant
1,SAyc6gRZ9zxsyTBWrE_Nkw,MrScyzfSsozlJ0cBt4mqhQ,1,reviewed-same-restaurant
2,MrScyzfSsozlJ0cBt4mqhQ,eNYdCHcCJQbCtcQVDkFt9Q,1,reviewed-same-restaurant
3,eNYdCHcCJQbCtcQVDkFt9Q,MrScyzfSsozlJ0cBt4mqhQ,1,reviewed-same-restaurant
4,MrScyzfSsozlJ0cBt4mqhQ,XGo2NYXLM01XXRl8Z7aFDg,1,reviewed-same-restaurant
...,...,...,...,...
589,RQTultuEFCaxLmCbsE6IPQ,wqi3BU5MJPYp4wFXBRnrgg,1,reviewed-same-restaurant
590,wqi3BU5MJPYp4wFXBRnrgg,29aKnf4_uYRZhcKe0VmCUg,1,reviewed-same-restaurant
591,29aKnf4_uYRZhcKe0VmCUg,wqi3BU5MJPYp4wFXBRnrgg,1,reviewed-same-restaurant
592,RQTultuEFCaxLmCbsE6IPQ,29aKnf4_uYRZhcKe0VmCUg,1,reviewed-same-restaurant
593,29aKnf4_uYRZhcKe0VmCUg,RQTultuEFCaxLmCbsE6IPQ,1,reviewed-same-restaurant

In [4]:
# save data

nodes.to_csv(f'{city}_{name}_nodes.csv', index=False)
edges.to_csv(f'{city}_{name}_edges.csv', index=False)